body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
}

.hidden {
    display: none!important;
}

div.about-container {
    background: url('bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 600px;
}

img.my_img {
    max-width: 50%;
    height: 150px;
    border-radius: 100%;
    border: 3px solid #919191;
    margin-top: 5%; 
}

div.about {
    color: white;
    text-align: center;
    max-width: 400px;
    width: 50%;
    margin: auto;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 0;
}

h2 {
    font-size: 18px;
    margin-top: 0;
}

.biography {
    font-size: 14px;
}

.grey {
    height: 3px;
    background-color: #919191;
    border: none;
    width: 50px;
    max-width: 50%;
}

h3 {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    margin-top: 100px;
}

.yellow {
    border-top: 5px double #F5A623;
    width: 250px;
    border-bottom: none;
    border-right: none;
}

h4 {
    text-align: center;
    font-size: 24px;
}

p {
    text-align: center;
}

.box {
    display: inline-block;
    width: 42.5%;
    margin-left: 5%;
    margin-top: 80px;
    vertical-align: middle;
    text-align: center;
}

.clear {
    clear: both;
}

.full-width {
    width: 100%;
}

.skills-and-tools {
    max-width: 400px;
    margin: 40px auto;
}

.icons {
    text-align: center;
    margin: 30px 0;
}

.contact-me {
    height: 350px;
    background-color: #202020;
    padding-top: 30px;
}

.contact-headline {
    color: white;
}

.contact-info {
    color: white;
    font-size: 13px;
    margin-top: 30px;
}

.contact-link {
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

li {
    display: inline-block;
    font-size: 12px;
    width: 100px;
    font-weight: bold;
    margin-top: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    margin-left: 30px;
}

.hire-me {
    border-style: solid;
    border-color: white;
}